.App {
  text-align: center;
  color: #ffffff;
}

a {
  color: #ffffff;
}

a:hover {
  color: #198754;
}

.text-color {
  color: #198754;
}

.text-alignment {
  text-align: left;
}

.footer {
  background-color: #5a5a5a;
  text-align: center;
}

ul.demo {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.img-border {
  border-radius: 50%
}